body{
    margin: 10%;
    padding:10%;
}

article{
    text-align: center;
    margin-bottom: 10%;
    border-bottom: ;
}

.line{
    width: 5%;
}

.ex{
   width: 30%;
   height: auto;
  
  text-align: center;
  padding: 2%;

}

.screen{
  border-right: 1px solid grey;
  
}
.pen{
    border-right: 1px solid grey;
   
  }
.engine{
    border-right: 1px solid grey; 
}
.gameboy{
    border-right: 1px solid grey;
}
.group-one{
 
    display: flex;
  border-bottom:1px solid grey;;
  justify-content: center ;
}

.group-two{
    display: flex;
  
    justify-content: center ;
   }