body{
    margin: 0;
    padding: 0;
}

.container{

    display: flex;
    margin: 1% 1%;
    
   

}

.col{
    width: 50%;
    height: 100%;
}

.form-contact{
    width: 100%;
    height: 100%;
}

.input{
    width: 25vw;
    height:3vh;
    border: 1px lightgray solid;
}
.form-contact textarea{
    width: 25vw;
    height: 10vh;
    border: 1px lightgray solid;
}

.logos{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

}
.sub-col{
    width: 50%;
    height: 75%;
   
}

.img{
    width: 40%;
    height: 10%;
    padding: 1.5vh 1.5vw;
    margin: 0.5vh 0.5vh;
    
}

#btn{
    width: 15%;
    background-color: white;
    color:aqua;
    border: 1px solid aqua;
   
}
#footer {
    position: absolute;
    bottom: 0;
    
    width: 100%;
    height:30%;   
    background-image: url('./images/bgk-footer.png');         /* Footer height */
  }
  .col1, .col2, .col3{
    width: 35%;
  }
.footer{
    
    color: white;
    display: flex;
    justify-content: center;
    margin: 1% 1%;
    text-align: center;
    
}

.newsletter-form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-input{
    height: 4vh;
}
.foot-btn{
    opacity: 0.85;
}
#footer a, i{
    color: white;
    text-decoration: none;
    
}

.links{
    margin: 1% 1%;
   
}

.icons{
    margin-top: 5%;
}
.links a{
    padding: 10px 10%;
}
